@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.navbar {
	font-family: 'Rubik', sans-serif;
	width: 100%;
	height: 50px;
	Padding-bottom: 1%;
	z-index: 2;
	letter-spacing: 1px;
	background-color: #7579e7;
}
.Dashboard {
	background-color: #caf7e3;
	font-family: 'Rubik', sans-serif;
	padding: 0% 4%;
	height: 100% !important;	
}
.patienttabel thead {
	background-color: #7579e7;
	color: white;
}
.userplus {
	position: fixed;
	bottom: 20px;
	right: 20px;
	animation: usericon;
	animation-duration: 5s;
}
tbody tr:nth-child(even) {
	background-color: #edffec;
}
tbody tr:nth-child(odd) {
	background-color: white;
}
.download-btn{
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
}

/* RESPONSIVENESS */
@media only screen and (min-width : 2000px) {
	.Dashboard{
		height: 93.05vh !important;		
	}
}
@media only screen and (max-width : 826px) {
	.Phone{
		display: none;
	}
	.Gender{
	 	display: none;
	}
}
@media only screen and (max-width : 710px) {
	.Complaint{
		display: none;
	}
	.Dashboard{
		overflow-x: scroll;
	}
	.Deatils-small{
		display: block;
	}
}
@media only screen and (max-width:607px) {
	.Search{
		float: none;
		clear: both;
		margin-right: 3em;
	}
}
@media only screen and (max-width : 562px) {
	.Status{
		display: none;
	}
	.patienttabel{
		margin-left: 1.5em;
	}
	.Date{
		text-align: center;
	}
}
@media only screen and (max-width : 340px) {
	.patienttabel{
		margin-left: 1em;
	}
	.Search{
		margin-right: 1px;
	}
	
}