@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

html{
    scroll-behavior: smooth;
}

/* Genral */

.Dashboard{
    position: relative;
}

/* Section-1 */
.heading{
    background-color: blueviolet;
    color: white;
    font-family: 'Metrophobic', sans-serif;
    width: 100%;
    height: 500px;
    padding: 3%;
    position: relative;
}

/* Heading Area */
.heading .text{
    text-align: center;
    margin-top: 9%;
    line-height: 1px;
    letter-spacing: 1px;
    font-weight: bolder;
}

/* Dropdown Styles */
.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Num patients and date */
.patient{
    letter-spacing: 1px;
    position:absolute;
    bottom:30px;
    left:34px;
    animation: number;
    animation-duration: 5s;
}
.date{
    letter-spacing: 1px;
    position:absolute;
    bottom:30px;
    right:34px;
    animation: date;
    animation-duration: 5s;
}

/* Section-2 */

.section2{
    background-color: #c0fefc; 
    /* background: rgb(237,255,236);
    background: linear-gradient(90deg, rgba(237,255,236,1) 45%, rgba(202,247,227,1) 83%); */
    width: 100%;
    padding: 2% 5%;
}
.search-icon{
    animation: search;
    animation-duration: 5s;
}
.patienttabel{
    animation: patienttable;
    animation-duration: 5s;
}
.patienttabel thead{
    background-color: #7868e6;
    color: white;
}
.userplus{
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: usericon;
    animation-duration: 5s;
    
}

/* Additional Styles for Table */
.patienttabel tr:nth-child(even)
{
    background-color: #ddfffa;
}
.patienttabel tr:nth-child(odd)
{
    background-color: #white;
}

/* Animations */
@keyframes number{
    0% { left: 500px;}
    100% {left: 34px;}
}

@keyframes date {
    0% { right: 500px;}
    100% {right: 34px;}
}

@keyframes patienttable {
    0% {margin-top: 200px;}
    100% {margin-top: 0px;}
}
@keyframes search {
    0% {margin-right: 50%;}
    100 {margin-right: 0%;}
}
