@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html {
	scroll-behavior: smooth;
}

.navbar {
	font-family: "Roboto", sans-serif;
	width: 100%;
	height: 50px;
	Padding-bottom: 1%;
	z-index: 2;
}
.Dashboard {
	background-color: #edffec;
	padding: 0% 4%;
	height: 93vh;
	
}
/* Dropdown Styles */
.dropdown-content {
	display: none;
	position: absolute;
	right:1px;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}
/* Num patients and date */
/* .patient{
    letter-spacing: 1px;
    position:absolute;
    bottom:30px;
    left:34px;
    animation: number;
    animation-duration: 5s;
}
.date{
    letter-spacing: 1px;
    position:absolute;
    bottom:30px;
    right:34px;
    animation: date;
    animation-duration: 5s;
} */

/* Section-2 */

.patienttabel {
	animation: patienttable;
	animation-duration: 5s;
}
.patienttabel thead {
	background-color: #7868e6;
	color: white;
}
.userplus {
	position: fixed;
	bottom: 20px;
	right: 20px;
	animation: usericon;
	animation-duration: 5s;
}

/* Additional Styles for Table */
tbody tr:nth-child(even) {
	background-color: #caf7e3;
}
tbody tr:nth-child(odd) {
	background-color: white;
}
