@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.form {
	background: url('../img/Waimakariri.png');
	height: 100% !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1% 3%;
	font-family: 'Roboto', sans-serif;
}
.form-container {
	background-color: whitesmoke;
	opacity: 0.96;
}
.form2,
.form3 {
	background: url('../img/Waihou.png');
	height: 100% !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1% 3%;
	font-family: 'Roboto', sans-serif;
}
.tablecenter {
	margin-left: auto;
	margin-right: auto;
  }
  .form-container thead tr{
	background-color: #F8AFA6;
}
.form-container tbody tr:nth-child(even) {
	background-color: #FADCD9;
}
.form-container tbody tr:nth-child(odd) {
	background-color: #F9F1F0;
}
.form-container input:checked ~ .dot {
	transform: translateX(100%);
	background-color: #48bb78;
  }
@media only screen and (min-width:2000px) {
	.form{
		height: 100% !important;
	}
}

