.form2,
.form3 {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(185, 193, 19, 1) 0%,
		rgba(0, 212, 255, 1) 100%
	);
	height: 100% !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2%;
}
.form {
	background: rgb(254, 162, 137);
	background: linear-gradient(
		137deg,
		rgba(254, 162, 137, 1) 16%,
		rgba(253, 161, 136, 1) 71%
	);
	height: 100% !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 4%;
}
.form-container {
	background-color: white;
}
