@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.form {
	background: url('../img/form-1.jpg');
	height: 100% !important;
  height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1% 4%;
	font-family: 'Roboto', sans-serif;
}
.form-container {
	background-color: whitesmoke;
	opacity: 0.96;
}
.form2{
    background: url('../img/form-1.jpg');
		height: 100% !important;
    height: 100vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
    padding: 3% 4%;
		font-family: 'Roboto', sans-serif;
	}
.form3 {
	background: url('../img/form-1.jpg');
	height: 100% !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1% 4%;
	font-family: 'Roboto', sans-serif;
}
.tablecenter {
	margin-left: auto;
	margin-right: auto;
  }
  .form-container thead tr{
	background-color: #F8AFA6;
}
.form-container tbody tr:nth-child(even) {
	background-color: #FADCD9;
}
.form-container tbody tr:nth-child(odd) {
	background-color: #F9F1F0;
}
.form-container input:checked ~ .dot {
	transform: translateX(100%);
	background-color: #48bb78;
  }
@media only screen and (min-width:2000px) {
	.form{
		height: 100% !important;
	}
}

/* Tab content - closed */
.tab-content {
    max-height: 0;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}
    /* :checked - resize to full height */
    .tab input:checked ~ .tab-content {
    max-height: 100vh;
    }
    /* Label formatting when open */
    .tab input:checked + label{
    /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
    font-size: 1.25rem; /*.text-xl*/
    padding: 1.25rem; /*.p-5*/
    border-left-width: 2px; /*.border-l-2*/
    border-color: #6574cd; /*.border-indigo*/
    background-color: #f8fafc; /*.bg-gray-100 */
    color: #6574cd; /*.text-indigo*/
    }
    /* Icon */
    .tab label::after {
    float:right;
    right: 0;
    top: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    }
    /* Icon formatting - closed */
    .tab input[type=checkbox] + label::after {
    content: "+";
    font-weight:bold; /*.font-bold*/
    border-width: 1px; /*.border*/
    border-radius: 9999px; /*.rounded-full */
    border-color: #b8c2cc; /*.border-grey*/
    }
    .tab input[type=radio] + label::after {
    content: "\25BE";
    font-weight:bold; /*.font-bold*/
    border-width: 1px; /*.border*/
    border-radius: 9999px; /*.rounded-full */
    border-color: #b8c2cc; /*.border-grey*/
    }
    /* Icon formatting - open */
    .tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
    background-color: #6574cd; /*.bg-indigo*/
    color: #f8fafc; /*.text-grey-lightest*/
    }
    .tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
    background-color: #6574cd; /*.bg-indigo*/
    color: #f8fafc; /*.text-grey-lightest*/
    }
