@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.form {
	background: url('../img/Waimakariri.png');
	height: 100% !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1% 3%;
	font-family: 'Noto Sans', sans-serif;
}
.form-container {
	background-color: whitesmoke;
	opacity: 0.96;
}
.form2,
.form3 {
	background: url('../img/Waiau.png');
	height: 100% !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1% 3%;
	font-family: 'Noto Sans', sans-serif;
}
tbody tr:nth-child(even) {
	background-color: #edffec;
}
tbody tr:nth-child(odd) {
	background-color: white;
}
@media only screen and (min-width:2000px) {
	.form{
		height: 100% !important;
	}
}

