.form {
	background-color: lightgray;
	height: 100% !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding:  1% 2%;
}
.form-container {
	background-color: #fff;
}
.form2,
.form3 {
	background-color: lightgray;
	height: 100% !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2%;
}
@media only screen and (min-width:1300px) {
	.form{
		height: 100vh;
	}
}

