/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0%;
	padding: 0%;
}


.dropdown-content {
	display: none;
	position: absolute;
	right:1px;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
}
.dropdown-content span {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}