/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

body {
  margin: 0%;
  padding: 0%;
}

/* Header Styles */

.header {
  background: rgb(237, 255, 236);
  background: linear-gradient(
    90deg,
    rgba(237, 255, 236, 1) 45%,
    rgba(202, 247, 227, 1) 83%
  );
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo {
  float: left;
}

/* Form Section */
/* form {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
} */

.Container {
  margin: 2%;
  padding: 2%;
  background: linear-gradient(-65deg, #78c6da, #ffffff, #ffffff, #caa62e);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
