/* Styles for login page */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.login {
  background-color: #caf7e3;
  width: 100%;
  height: 100vh;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  color: #000;
  background-color: white;
  padding: 3%;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 40px;
}
.login p{
  margin: 0%;
  color: #000;
}
hr{
  height: 1px;
  background:#7579e7;
  width: 45%;
  animation: hr;
  animation-duration: 2s;
}
@keyframes hr {
  0%{width: 2%;}
  100%{width: 45%;}
}
.input-container{
  margin-top: 40px;
  position: relative;
}
.login input {
  margin: 10% 0%;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid black;
  padding: 1px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 1px;
  color: #7579e7;
}
.login ::placeholder {
 color: pink;
 font-family: 'Rubik', sans-serif;
 letter-spacing: 0.2px;
 font-weight:600;
}
.login input:focus {
  outline: none;
  color: #7579e7;
  font-size: 1;
}
.btn-container{
  text-align: center;
}
.login .btn {
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  background: #FC466B;  
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B); 
  background: linear-gradient(to right, #3F5EFB, #FC466B); 
  padding: 10px 10px 10px 10px; 
  text-decoration: none;
  margin-top: 20px;
  border: none;
  text-align: center;
  width: 75%;
}
.login .btn:hover {
  background: #FC466B; 
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to left, #3F5EFB, #FC466B); 
  color: white !important;
  text-decoration: none;
  border: none;
  outline: none;
}
.login .btn:focus {
  border: none;
  outline: none;
}

/* RESPONSIVENESS */
@media only screen and (max-width : 725px) {
  .login-container{
    padding: 5%;
  }
}
@media only screen and (max-width : 470px) {
  .login-container{
    padding: 7%;
  }
}

/* This will not automatically changes bg color when text is filled */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}