/* Styles for login page */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.login {
  background: url(../img/bg-1.jpg) center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 7%;
  padding-left: 39%;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.login-container {
  width: 35%;
  background: rgb(237,255,236);
  background: linear-gradient(90deg, rgba(237,255,236,1) 45%, rgba(202,247,227,1) 83%);
  padding: 5% 2% 8%;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius:4%;
}

.login img{
  border-radius: 50%;
  margin-bottom: 10%;
  height: 125px;
  width: 125px;
  border: 1px solid gray;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login input {
  margin: 8% 0%;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

.login ::placeholder {
  color: blue;
  font-weight: bold;
  margin: 2px;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

.login .btn {
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  background: #FC466B;  
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B); 
  background: linear-gradient(to right, #3F5EFB, #FC466B); 
  padding: 10px 10px 10px 20px; 
  text-decoration: none;
  margin-top: 20px;
  border: none;
  text-align: center;
  width: 75%;
}

.login .btn:hover {
  background: #FC466B; 
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to left, #3F5EFB, #FC466B); 
  color: white !important;
  text-decoration: none;
  border: none;
  outline: none;
}

.login .btn:focus {
  border: none;
  outline: none;
}

.login input:focus {
  outline: none;
  color: black;
  font-size: 1;
}

/* This will not automatically changes bg color when text is filled */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}