/* Styles for login page */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.login {
  background-color: #7579e7;
  width: 100%;
  height: 100vh;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #edffec;
  padding: 3%;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 40px;
}

.login p{
  margin: 0%;
}

hr{
  height: 1px;
  background: blue;
  width: 45%;
}

.input-container{
  margin-top: 40px;
}

.login input {
  color: rebeccapurple;
  margin: 10% 0%;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid black;
  padding: 1px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
}

.login ::placeholder {
 color: blue;
 font-family: 'Merriweather', serif;
 letter-spacing: 1px;
}


.login input:focus {
  outline: none;
  color: rebeccapurple;
  font-size: 1;
}

.btn-container{
  text-align: center;
}

.login .btn {
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  background: #FC466B;  
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B); 
  background: linear-gradient(to right, #3F5EFB, #FC466B); 
  padding: 10px 10px 10px 10px; 
  text-decoration: none;
  margin-top: 20px;
  border: none;
  text-align: center;
  width: 75%;
}

.login .btn:hover {
  background: #FC466B; 
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to left, #3F5EFB, #FC466B); 
  color: white !important;
  text-decoration: none;
  border: none;
  outline: none;
}

.login .btn:focus {
  border: none;
  outline: none;
}

/* This will not automatically changes bg color when text is filled */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

/* Typewritting Effect */
.typing-demo {
  width: 22ch;
  animation: typing 2.5s steps(20);
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0
  }
}