@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.Dashboard{
    background: url(img/bg-5.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    /* background: rgb(99,87,241);
    background: linear-gradient(90deg, rgba(99,87,241,1) 54%, rgba(229,188,252,1) 100%); */
    padding: 0.5%;
    font-family:  'Montserrat', sans-serif;
    /* background-color:  #d9e0e7; */
}

table{
    margin: 2% auto;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.9;
}
td,th{
    text-align: center;
    padding: 2% 6.1% !important;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

tr:nth-child(even){
    background-color: #eeeeee;
}
tr:nth-child(odd){
    background-color: #ffffff;
}
.editbtn{
    border: none;
    background-color: inherit;
    font-family:  'Montserrat', sans-serif;
    color: blue;
    font-weight: bold;
}
.editbtn button :hover{
    color: red !important;
}
/* This is not currently used it will be useful incase we have to replace lord icon with img */

.add{
    width:50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    position: fixed;
    right: 20px;
    bottom: 20px;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    position: fixed;
    right: 20px;
    bottom: 100px;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

