@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
/* 
.TableTest{
     background: rgb(254,162,137);
    background: linear-gradient(137deg, rgba(254,162,137,1) 16%, rgba(253,161,136,1) 71%);
    padding: 2%; 
    background-color: #7868e6;
} */
html{
    scroll-behavior: smooth;
}
.TableTest{
    position: relative;
}
.heading{
    background-color: #7868e6;
    color: white;
    font-family: 'Metrophobic', sans-serif;
    width: 100%;
    height: 500px;
    padding: 2%;
    position: relative;
}
.heading .text{
    text-align: center;
    margin-top: 10%;
}
.patient{
    letter-spacing: 1px;
    position:absolute;
    bottom:30px;
    left:24px;
    animation: number;
    animation-duration: 5s;
}
.date{
    letter-spacing: 1px;
    position:absolute;
    bottom:30px;
    right:24px;
    animation: date;
    animation-duration: 5s;
}
.search-icon{
    animation: search;
    animation-duration: 5s;
}

.section2{
    background-color: #c0fefc;
    width: 100%;
    padding: 2% 5%;
}
.patienttabel{
    animation: patienttable;
    animation-duration: 5s;
}
.patienttabel thead{
    background-color: #7868e6;
    color: white;
}
.userplus{
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: usericon;
    animation-duration: 5s;
    
}
.patienttabel tr:nth-child(even)
{
    background-color: #ddfffa;
}
.patienttabel tr:nth-child(odd)
{
    background-color: #white;
}
@keyframes number{
    0% { left: 500px;}
    100% {left: 16px;}
}

@keyframes date {
    0% { right: 500px;}
    100% {right: 16px;}
}

@keyframes patienttable {
    0% {margin-top: 200px;}
    100% {margin-top: 0px;}
}
@keyframes search {
    0% {margin-right: 50%;}
    100 {margin-right: 0%;}
}
