.form{
    background-image: url("/src/img/bg-2.jpg");
    height: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4%;
}
.form-container{
    
}