body {
  margin: 0%;
  padding: 1%;
  font-family: "Lato", sans-serif;
}

/* Header Section */
.header {
  background-image: url("https://images.unsplash.com/photo-1559761132-5952db82b3e3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
}
.logo {
  float: left;
}

/* Input Section */
.Input {
  clear: both;
}
table,
td,
th {
  border: 1px solid gray;
  border-collapse: collapse;
  margin: 3% 1%;
}
td,
th {
  width: 7%;
  text-align: center;
}
input {
  border: none;
}
select {
  border: none;
}

