body {
  margin: 0%;
  padding: 0%;
  font-family: "Lato", sans-serif;
}

/* Header Section */
.header {
  background-image: url("/src/dental.jpg");
  background-size:auto;
  
}
.logo {
  float: left;
}

/* Input Section */
.Input {
  clear: both;
}
table,
td,
th {
  border: 1px solid gray;
  border-collapse: collapse;
  margin: 3% 1%;
}
td,
th {
  width: 7%;
  text-align: center !important;
}
input {
  border: none;
}
select {
  border: none;
}

