/* Styles for login page */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.login {
  
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); 
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 7%;
  padding-left: 39%;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: white;
  letter-spacing: 1px;
}
.login-container {

  width: 35%;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px) !important;
  padding: 2% 4% 4%;
  
} 
.login img{
  
  border-radius: 50%;
  margin-bottom: 5%;
  height: 125px;
  width: 125px;
}
.login input {

  margin: 8% 0%;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid white;
  text-align: center;
  padding: 5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}
.login ::placeholder {

  color: white;
  font-weight: bold;
  margin: 2px;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}
.login .btn {

  border-radius: 20px;
  color: #ffffff;
  font-size: 20px;
  background: rgb(99,87,241);
  background: linear-gradient(90deg, rgba(99,87,241,1) 54%, rgba(229,188,252,1) 100%);
  padding: 10px 10px 10px 20px;
  text-decoration: none;
  margin-top: 15px;
  border: none;
  text-align: center;
  width: 50%;
  }
.login input:focus {

  outline: none;
  color: #ffffff;
  font-size: 1;
}
/* This will not automatically changes bg color when text is filled */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}
.login .btn:hover {

  background: rgb(16,0,203);
  background: linear-gradient(90deg, rgba(16,0,203,1) 46%, rgba(19,222,220,1) 100%);
  color: white !important;
  text-decoration: none;
  border: none;
  outline: none;
}
.login .btn:focus {

  border: none;
  outline: none;
}
