@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.Dashboard{
    background: url("./dental.jpg");
    background-size:cover;
    padding: 1%;
    font-family:  'Montserrat', sans-serif;
  }
table{
    margin: 0% auto;
    opacity: 0.9;
}
td,th{
    text-align: center;
    padding: 2% 6.1% !important;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

tr:nth-child(even){
    background-color: #eeeeee;
}
tr:nth-child(odd){
    background-color: #ffffff;
}
.editbtn{
    border: none;
    background-color: inherit;
    font-family:  'Montserrat', sans-serif;
    color: blue;
    font-weight: bold;
}
.editbtn button :hover{
    color: red !important;
}
.patient-search{
    margin: 2%  auto 3% auto;
}
.search{
    border: none;
    border-bottom: 1px solid white;
    background-color: inherit;
    color: white;
    margin-left: 4%;
    padding-bottom: 4px;
    padding-left: 5px;
}
.search input:focus{
    border: none !important;
    color: orange !important;
}
::placeholder{
    color: #ffffff !important;
}

.Add-btn{
    float: right;
    border: none;
    color:white;
    background-color:blue;
    padding: 3px 10px 3px 10px;
    border-radius: 5%;
    margin-right: 4%;
    font-family:  'Montserrat', sans-serif;
    font-weight: bold;
}
