@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

table{
    margin: 0% auto;
    opacity: 0.9;
}
td,th{
    text-align: center;
    padding: 2% 6.1%;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

tr:nth-child(even){
    background-color: #eeeeee;
}
tr:nth-child(odd){
    background-color: #ffffff;
}